*{
    margin: 0;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    
  }
  .bg{
    opacity: 0.80;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 42pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(-50%, -50%);
  }
  .logo{
    height: 50px;
  }
  .navbar{
    height: 60px;
    /* background-color: aliceblue; */
    width: auto;
    position: absolute;
    top: 0px;
    left:250px ;
    right:250px;
  }
  .link{
    text-decoration: none;
    color: rgb(242,244,245);
    font-weight: 100;
    font-family: monospace;
    font-size: x-large;
    padding: 20px;
    padding-top: 10px;
  }

  .link:hover{
    color: rgb(249,115,105);
    text-decoration: underline;
    transition-delay: 2ms;
  }

  .topr{
    scale: 0.8;
    padding: 5px;
  }